body{
    margin: 0px;
    padding: 0px;
}
.header{
    background-image: url(https://dogtime.com/assets/uploads/gallery/labrador-retriever-dog-breed-pictures/labrador-retriever-dog-pictures-3.jpg);
    height: 300px;
    text-align: center;
    
}
.lab{
    text-align: center;
    position: static;
    font-size:  40px;
    font-family: cursive;
    border-style: solid;
    background-color:cyan;
    border-color: orange;

}

.name{
    position: relative;
    top: 100px;
    color: blue;
    font-size:  80px;
    font-family: cursive;

}
.about .heading{
    text-align: center;
    font-size: 40px;
    background-color: gold;
    font-weight: 900 px ;
}
.about .description{
    font-size: 18px;
    position: relative;
    color: lightgreen;
    background-color: maroon;


}
.use .heading{
    text-align: center;
    font-size: 40px;
    background-color: royalblue;
    position: relative; 
}
.use .description{
    font-size: 18px;
    position: relative;
    color: #8d4e85;
    background-color: #ffdb58;
}
