#one{
    color: darkblue;
}
h1{
    color: red;
}
.two{
    color: purple;
}
#three{
    color: saddlebrown;
}
#four{
    color: teal;
}
#five{
    color:red;
}
#six{
    color: springgreen;
}
.seven{
    color: green;
}
.eight{
    color: yellow;
}
